<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807952069660-s3k2pjob3c2a7g8hvsalcu33618sb4j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807952069660-s3k2pjob3c2a7g8hvsalcu33618sb4j2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807952069660-59fi7mtladn85vcrrkgrdekitjbfp56v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbRx7r9ZkWNxXnSbJynhxOHABV7oWjcXI</string>
	<key>GCM_SENDER_ID</key>
	<string>807952069660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>h.omw</string>
	<key>PROJECT_ID</key>
	<string>omw-7ea8a</string>
	<key>STORAGE_BUCKET</key>
	<string>omw-7ea8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807952069660:ios:94cca3e94cc1770afd1bd9</string>
	<key>DATABASE_URL</key>
	<string>https://omw-7ea8a-default-rtdb.firebaseio.com</string>
</dict>
</plist>